body {
	margin: 0;
	background-color: #011627;
}
.main {
	background-image: url(../img/ganapathy-kumar-GLmhbqbn1WA-unsplash\ 2.png);
	height: 1281px;
	position: relative;
	overflow: hidden;
}
.navbar {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}
.navbarleft {
	display: flex;
	text-decoration: none;
	justify-content: space-around;
	padding-right: 240px;
}
.navbarleft h3 {
	text-decoration: none;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 190%;
	color: #ffffff;
	margin-left: -190px;
}
.navbarright {
	display: flex;
	justify-content: flex-end;
	margin-top: 40px;
}
.buttonnav {
	border-top: 40px;
	width: 167px;
	height: 62px;
	background: #00c9e0;
	box-shadow: 5px 15px 40px rgba(0, 201, 224, 0.2);
	border-radius: 48px;
	font-family: Larsseit;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 21px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #ffffff;
	margin-right: -60px;
}
.navbarright a {
	height: 102px;
	margin-right: 20px;
}
.page1 {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
}
.page1 h1 {
	font-family: Noe Display;
	font-style: normal;
	font-weight: bold;
	font-size: 120px;
	line-height: 153px;
	letter-spacing: -0.02em;

	color: #ffffff;
}
.page1 h2 {
	font-family: Larsseit;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	/* identical to box height */

	letter-spacing: 0.1em;
	text-transform: uppercase;

	color: #ffffff;
}
.page1 h3 {
	align-items: center;
	height: 79px;
	width: 643px;
	font-family: Larsseit;
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: center;
	color: #ffffff;
	padding-bottom: 40px;
}
.scrollmain {
	display: flex;
	align-items: flex-start;
	width: 100%;
	flex-direction: column;
	position: absolute;
	padding-left: 90px;
	bottom: 0;
	padding-bottom: 234px;
}
.scrollmain hr {
	display: flex;
	width: 2px;
	height: 80px;
	background: linear-gradient(180deg, #09f4f4 0%, #00c9e0 100%);
	border-radius: 13px;
}
.scroll p {
	font-family: Larsseit;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 190%;
	letter-spacing: 0.05em;
	color: #ffffff;
	opacity: 0.9;
	transform: rotate(-90deg);
	padding-left: 20px;
}
.socbuttons {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	padding-bottom: 234px;
	width: 100%;
	position: absolute;
	bottom: 0;
	background: linear-gradient(180deg, rgba(1, 22, 39, 0) 0%, #011627 76.64%, #011627 100%);
}
.socbuttons img {
	padding-bottom: 20px;
	height: 17.943681716918945px;
	width: 22px;
	padding-right: 257px;
}
.pick {
	display: inline-flex;
	justify-content: flex-start;
	flex-direction: row;
}
.pick h3 {
	padding-left: 40px;
	font-family: Noe Display;
	font-style: normal;
	font-weight: bold;
	font-size: 72px;
	line-height: 110%;
	/* or 79px */

	text-align: center;
	letter-spacing: -0.02em;

	color: #ffffff;
	margin-right: 30px;
	margin-left: 30px;
}
.pick h2 {
	margin-top: 100px;
	font-family: Larsseit;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 150%;
	/* or 24px */

	letter-spacing: -0.02em;

	color: #ffffff;
}
.pick h4 {
	margin-top: 90px;
	width: 349px;
	height: 48px;
	font-family: Larsseit;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 150%;
	/* or 24px */
	letter-spacing: -0.02em;
	color: #ffffff;
	margin-right: 30px;
	margin-left: 30px;
}
.page2nav {
	display: flex;
	justify-content: space-evenly;
	padding: 0 180px;
}
.chill2 {
	width: 282px;
	height: 4px;
	left: 361px;
}
.chill2 a {
	text-decoration: none;
}
.chill {
	font-family: Larsseit;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 110%;
	/* identical to box height, or 20px */

	text-align: center;
	letter-spacing: -0.02em;

	color: #41ead4;
}
.spooky {
	font-family: Larsseit;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 110%;
	/* identical to box height, or 18px */
	text-align: center;
	letter-spacing: -0.02em;
	color: #ffffff;
	opacity: 0.5;
	text-decoration: none;
}
.hr {
	background: #41ead4;
	opacity: 0.3;
	border-radius: 13px;
	margin-bottom: 82px;
	margin-left: 19.5%;
	align-items: center;
	width: 1300px;
}
.page3 {
	position: relative;
	display: flex;
	justify-content: space-around;
	align-self: center;
	padding-left: 10%;
}
.imgChill {
	display: flex;
	margin-top: 60px;
	border-radius: 10px;
	z-index: 2;
}
.chillText {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	padding-right: 20%;
}
.chillText h3 {
	font-family: Noe Display;
	font-style: normal;
	font-weight: bold;
	font-size: 65px;
	line-height: 110%;
	/* identical to box height, or 72px */
	letter-spacing: -0.02em;
	color: #ffffff;
}
.chillText p {
	width: 485px;
	font-family: Larsseit;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	line-height: 150%;
	letter-spacing: -0.02em;
	color: #ffffff;
}
.chillText h4 {
	width: 485px;
	font-family: Larsseit;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 150%;
	letter-spacing: -0.02em;
	color: #ffffff;
}
.buttonpage3 {
	background: #00c9e0;
	width: 282px;
	height: 65px;
	box-shadow: 5px 15px 40px rgba(0, 201, 224, 0.2);
	border-radius: 183px;
	font-family: Larsseit;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 190%;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	color: #ffffff;
}
.sharesoc {
	position: absolute;
	display: inline-block;
	justify-content: space-around;
	align-items: center;
	bottom: 20px;
	right: 100px;
}
.sharesoc p {
	font-family: Larsseit;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 150%;
	/* identical to box height, or 22px */
	letter-spacing: 0.15em;
	color: #ffffff;
}
.sharesoc img {
	width: 85px;
	height: 23px;
}
.shareitbut {
	border: none;
	background: none;
}
.shareitbut:active {
	border: 1px;
	box-shadow: 10px;
	color: white;
}
.grandleft {
	position: absolute;
	display: flex;
	left: 0;
	z-index: 2;
}
.grandleft hr {
	position: absolute;
	display: flex;
	width: 160px;
	height: 2px;
	top: 180px;
	left: 180px;
	z-index: 2;
	background: #41ead4;
}
.zeroOne p {
	position: absolute;
	display: flex;
	width: 204px;
	left: 180px;
	top: 190px;
	font-family: Larsseit;
	font-style: normal;
	font-weight: 800;
	font-size: 24px;
	line-height: 150%;
	letter-spacing: 0.15em;
	color: #41ead4;
	z-index: 8;
}
.zeroTwo p {
	position: absolute;
	display: flex;
	width: 400px;
	left: 180px;
	top: 230px;
	font-family: Larsseit;
	font-style: normal;
	font-weight: 800;
	font-size: 24px;
	line-height: 150%;
	letter-spacing: 0.15em;
	color: #41ead4;
	z-index: 8;
}
