.trips {
	position: relative;
}

.lightRight {
	width: 1099px;
	height: 1044px;
	position: absolute;
	bottom: 0;
	right: -200px;
	background: #7741ea;
	opacity: 0.1;
	filter: blur(250px);
}
.lightLeft {
	width: 1070px;
	height: 1016px;
	left: -179px;
	position: absolute;
	bottom: 0;
	background: #7741ea;
	opacity: 0.1;
	filter: blur(250px);
}
.dotsFirst {
	position: absolute;
	display: flex;
	width: 230px;
	height: 290px;
	bottom: 80px;
	left: 210px;
	z-index: 0;
}
.ustext {
	width: 321px;
	height: 270px;
	font-family: Larsseit;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 150%;
	letter-spacing: -0.02em;
	color: #ffffff;
}
.imgbut {
	position: absolute;
	display: flex;
	left: 644px;
	top: 602px;
	z-index: 3;
}
.imgbut p {
	justify-content: center;
	font-size: 18px;
	color: white;
}

.listImg {
	width: 65px;
	height: 65px;
	background: #011627;
	box-shadow: -10px 14px 24px rgba(1, 22, 39, 0.08);
	border: none;
	margin-left: 2px;
}
.listImg button:active {
	background-color: white;
}
